@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;300&family=Architects+Daughter&display=swap');

/**
* Base styles
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  background: url('/img/volcano.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Gothic A1', sans-serif;
  color: #eceff1;
}

img {
  max-width: 100%;
}

/**
* Navigation
*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #34515e;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 37%;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #eceff1;
  transition: border-bottom .6s ease-in-out;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  border-bottom: 2px solid #eceff1;
}

.nav-item {
  font-weight: 800;
  font-size: .9rem;
  letter-spacing: 2.5px;
  padding: 5px;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navFadeIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/**
* Mobile navigation
*/
.mobile-nav  {
  display: none;
  cursor: pointer;
}

.mobile-nav div {
  width: 30px;
  height: 2px;
  background-color: #eceff1;
  margin: 7px;
  transition: all 0.4s ease;
}

@media screen and (max-width:1180px) {
  nav {
    width: 47%;
  }
}

@media screen and (max-width:960px) {

  body {
    overflow-x: hidden;
  }

  nav {
    position: absolute;
    right: 0;
    height: 90vh;
    top: 10vh;
    background-color: #29434e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
  }

  .nav-item {
    opacity: 0;
  }

  .mobile-nav {
    display: block;
  }

}

/**
* Close icon
*/
.close .top {
  transform: rotate(-45deg) translate(-7px,6px);
}

.close .middle {
  opacity: 0;
}

.close .bottom {
  transform: rotate(45deg) translate(-7px,-6px);
}

/**
* Logo
*/
.logo a {
  font-family: 'Architects Daughter', cursive;
  font-size: 2.65rem;
  letter-spacing: 3px;
  text-decoration: none;
  color: #eceff1;
}

/**
* Footer styles
*/

/**
- Colors

33691e - primary
003d00 - dark
629749 - light

003d00 - light text
000a12 - dark text

*/
